body{
            margin: 1;
        }

        p {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 0;
        }

       .video-title{
            margin: 1px;
            font-weight: bold;
            font-size: 18px;
            width: 290px;
            line-height: 24px;
            margin-bottom: 5px;
       }

       .video-stats{
            font-size: 14px;
            color: #606060;
            margin-bottom: 20px;
       }

       .video-author{
            color: #606060;
            font-size: 14px;
            margin-bottom: 20px;
       }

       .video-description{
            font-size: 14px;
            color: #606060;
            width: 280px;
            line-height: 22px;
            margin-bottom: 100px;
       }

       .apple-text{
            margin-bottom: 50px;
            font-size: 14px;
            background-color: #e34140;
            color: white;
            text-align: center;
            padding: 18px 0 18px 0;
       }

       .shop-link:hover{
            cursor: pointer;
            text-decoration: underline;
       }